.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.titulo{
    text-align: center;
}

.form{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(#0a0092, #000, #000);
}

.label{
    display: flex;
    flex-direction: column;
    
}